#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-row { /*Container for each row*/
  display: flex; /*Place elements in a row*/
  align-items: center; /*Align verticall label and input*/
  justify-content: center; /*Center the whole row*/
  margin-bottom: 5px; /*Add space between rows*/
}

.form-row label { /*Style for label*/
  width: 80px; /*Width to align labels*/
  text-align: right; /*Align label text*/
  margin-right: 10px; /*Space between label and input*/
}

.form-row input { /*Style for input fields*/
  padding: 6px; /*Add inner spacing*/
}

button { /*Style for buttons*/
  margin: 5px; /*Space around buttons*/
  padding: 8px 14px; /*Make buttons larger*/
  cursor: pointer; /*Show pointer cursor*/
}